#macro test()
<div>
    #bodyContent
</div>
#end

#macro test1()
<b>
    #@test()
        #bodyContent
    #end
</b>
#end

#macro test2()
<p>
    #@test1()
        #bodyContent
    #end
</p>
#end

=======
#*
#test1()
-------
*#
#@test2()
aaaaa
#end