<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-autowire="byType" default-lazy-init="true">

	<bean id="springBeansFileProcessor" scope="singleton"
		class="org.tinygroup.springutil.fileresolver.SpringBeansFileProcessor">
	</bean>

	<bean id="applicationPropertyResourceConfigurer" scope="singleton"
		class="org.tinygroup.springutil.ApplicationPropertyResourceConfigurer">
		<property name="order" value="1" />  
		<property name="ignoreUnresolvablePlaceholders" value="true" /> 
		<property name="application">
			<value>classpath:/application.xml</value>
		</property>
	</bean>

</beans>
