#*
 *  Copyright (c) 1997-2013, www.tinygroup.org (luo_guo@icloud.com).
 *
 *  Licensed under the GPL, Version 3.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *       http://www.gnu.org/licenses/gpl.html
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *#
#set(array=null)
${array?.[1]}
${1+1f-0.02d} #eol
${2.5f*4/2.0d} #eol
${10%2} #eol
${10.0%2.0} #eol
${++3} #eol
${3++} #eol
${--2} #eol
${2--} #eol
${2<<1} #eol
${2>>1} #eol
${4|6|6} #eol
${4+6+6^3|3} #eol
${true?1:2} #eol
${2?:1} #eol
${true||false} #eol
${true&&false} #eol
${1==2} #eol
